<a href="https://colab.research.google.com/github/Sriram-3i/Python-AIforAll/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a= []

In [ ]:
# print the value of a

print (a)

[]

In [ ]:
# print the type of a

print (type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [ ]:
#code here
for i in languages:
  print (i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
#code here
print (temp)
print (type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [ ]:
# code here
print (languages[len(languages)-2:len(languages)])

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [ ]:
#code here
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
# code here
colors.insert(1,'Orange')

Print the list

In [ ]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
# code here
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
# code here
print (len(colors))

print (colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [25]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
# code here
s= sent.split(" ")
print (list(sent.split(" ")))

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
# code here
words_lower = []

words_lower = [x.lower() for x in sent.split(" ")]
print (words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
# code here
if sent.find('country') == -1:
    print("False")

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
# code here
print(s)
s.remove('The')
print(s)

NameError: ignored

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
#code here

x4= words_lower[0:4]

In [ ]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
#code here
sent = "".join(sent)
  
# join use to join a list of
# strings to a separator s
print(sent)

C o r o n a v i r u s   C a u s e d   L o c k d o w n s   A r o u n d   T h e   W o r l d .

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here
stud_grades = (['A','A','B','C','C','F'])

Print the len of stud_grades

In [ ]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
#code here
print (stud_grades_set)

{'B', 'C', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'B', 'C', 'A', 'F'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
#code here

stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [ ]:
#code here
stud_grades_set.add('F')
print (stud_grades_set)

{'F', 'B', 'A', 'C', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [ ]:
#code here
print (stud_grades_set)
print (len(stud_grades_set))

{'B', 'A', 'C', 'G'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [2]:
#code here

colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [3]:
#code here
print (colors)
print (fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [5]:
#code here
colors_set = set(colors)
fruits_set = set(fruits)

print(set(colors))
print(set(fruits))

{'red', 'blue', 'orange'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [8]:
#code here

print (colors_set.union(fruits_set) )

{'red', 'blue', 'grapes', 'orange', 'apples'}

Find the intersection of both the sets

In [9]:
#code here
print (colors_set.intersection(fruits_set) )

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [11]:
#code here

print (fruits_set.difference(colors_set) )

{'grapes', 'apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [2]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [4]:
#code here
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [8]:
#code here
temp[0] = '11'
print(temp)

['11', 'Virat', 50.0]

Set temp1 = tuple(temp)

In [9]:
#code here
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [10]:
#code here
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [11]:
#code here
temp1[0] = '17'
print(temp1)

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here

Print first element of city

In [ ]:
#code here

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
#code here

Create cities which consist of city and city2

In [ ]:
#code here

Print cities

In [ ]:
#code here

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
#code here

<class 'tuple'>

print the type of cities

In [ ]:
#code here

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [1]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [2]:
#code here
print (d(0))

TypeError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [6]:
#code here

actor=d['actor']

Print the type of actor

In [7]:
#code here
print (type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [10]:
#code here

I= d['list']

Print the type of l.

In [12]:
#code here

print (type(I))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [14]:
#code here

d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [16]:
#code here
d3=d1.update(d)
print(d3)

None

print d

In [17]:
#code here
print (d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print all the keys in d

In [18]:
#code here
print (d.keys())

dict_keys(['actor', 'animal', 'earth', 'list'])

Print all the values in d

In [19]:
#code here
print (d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12]])

Iterate over d, and print each key, value pair as given in output

In [24]:
#code here
for i in d:
  print(i, '---->', d[i])

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [32]:
from collections import Counter
#code here
res = Counter(sent)
  
# printing result 
print ("Count of all characters in sent is :\n "+  str(res))

Count of all characters in sent is :
 Counter({'o': 6, ' ': 5, 'r': 4, 'd': 4, 'n': 3, 'u': 3, 's': 3, 'C': 2, 'a': 2, 'e': 2, 'v': 1, 'i': 1, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1})

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N