# <center><u> Python basics</u></center>
![image.png](attachment:image.png)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [ ]:
# print type of a
type(a)

int

In [ ]:
# print type of b
type(b)

str

In [ ]:
# swap the values of a and b
a= 'city'
b=5

In [ ]:
# run this to confirm 
print (a,b)

city 5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [ ]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(b,a))

a = 3, b = 24

In [ ]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
c= a+b 
d= a-b
e= a*b
f= a/b
g= a%b
h = a//b
i =a**b

print('a + b = {}'.format(c))
print('a - b = {}'.format(d))
print('a * b = {}'.format(e))
print('a / b = {}'.format(f))
print('a % b = {}'.format(g))
print('a // b = {}'.format(h))
print('a ** b = {}'.format(i))

a + b = 27
a - b = 21
a * b = 72
a / b = 8.0
a % b = 0
a // b = 8
a ** b = 13824

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [ ]:
#import math

In [ ]:
# declare a variable x = 2 and y=5.32167
X=2
Y=5.32167

In [ ]:
# Print the maximum value between x and y
max(X,Y)

5.32167

In [ ]:
# Print the minimum value between x and y
min(X,Y)

2

In [ ]:
# Print square and cube of x and store in a and b variable
a=X**2
b=X**3

print (a)
print (b)

4
8

In [ ]:
#print log of x and store it in variable c
c = math.log(X)
print (c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c
min(X,Y,a,b,c)

0.6931471805599453

In [ ]:
#print maximum value between x,y,a, b and c
max(X,Y,a,b,c)

8

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round down
Z= math.floor(min(c,max (X,Y,a,b)))

print(Z)

0

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up
Z= math.ceil((c<=min (X,Y,a,b)))

print(Z)

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b
print (type(a))
print (type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
s1="int of a is "
s2="int of b is " 

print("%s%s" % (s1, int(a)))
print("%s%s" % (s2, int(b)))

int of a is 1
int of b is 0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
s1='not(a) ='
s2='not(b) ='
s3='a and b ='
s4='a or b ='
s5='a and not b ='
print("%s%s" % (s1, not(a)))
print("%s%s" % (s2, not(b)))
print("%s%s" % (s3, (a and b)))
print("%s%s" % (s4, (a or b)))
print("%s%s" % (s5, (a and not(b))))

not(a) =False
not(b) =True
a and b =False
a or b =True
a and not b =True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.

[x for x in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

[x for x in range(1,21) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ['mango','Pear','peach']
len_fruits =  [len(i) for i in fruits]

print(fruits)
print(len_fruits)

['mango', 'Pear', 'peach']
[5, 4, 5]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [ ]:
# declare the variables x = cat and y = dog and print it
x =  'cat'
y = 'dog'

print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y. 

print('First ch of x = ', x[0])
print('First ch of y = ', y[0])

First ch of x =  c
First ch of y =  d

In [ ]:
#Print last character of both x and y.
print('Last ch of x = ', x[-1])
print('Last ch of y = ', y[-1])

Last ch of x =  t
Last ch of y =  g

In [ ]:
#Print len of both x and y
print('Length of x is', len(x))
print('Length of y is', len(y))

Length of x is 3
Length of y is 3

In [ ]:
#concatenate both x and y and store it in variable z and print z
z = x + y
print (z)

catdog

In [ ]:
#check if x is part of z 

if x in z:
  
# print result
  print ("True")

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a = 'pineapple'
print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print( a[0:4])
print( a[4:len(a) +1])

pine
apple

In [ ]:
#Convert a into upper case
print (a.upper())

PINEAPPLE

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it
Sentence = 'I am flying to London'
print (Sentence)

I am flying to London

In [ ]:
#Print length of the sentence
print (len(Sentence))

21

In [ ]:
#Using list indexing, to print the word London
Word= Sentence.split()
print (Word[4])

London

In [ ]:
# Use .split to get list of individual words in the sentence
Word= Sentence.split()
print (Word)

['I', 'am', 'flying', 'to', 'London']

In [ ]:
# Convert sentence in lower case 
print (Sentence.lower())

i am flying to london

In [ ]:
# Convert sentence in upper case .
print (Sentence.upper())

I AM FLYING TO LONDON

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def square(x):
   y = x ** 2
   print('Square of %s is %s'%(x,y)) 
   return

Call the function to find the value of square of 9.

In [ ]:
# find the square of 9 using the function square you have just created.
square(9)

Square of 9 is 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
# your code here
def evenodd(x):
   y = x ** 2
   if (y % 2) == 0:
      print("{0} is even".format(y))
   else:
      print("{0} is odd".format(y)) 
   return

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [ ]:
 # your code here
evenodd(3)
evenodd(6)
evenodd(21)

9 is odd
36 is even
441 is odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 3 # add a number of your choice (mine is 3 :) )
print(x)

3

In [ ]:
#Using an if statement, print whether x is zero, positive or negative.
if x == 0:
   print ('%s is zero'%(x))
elif x > 0:
   print ('%s is positive'%(x))
else:
   print ('%s is negative'%(x))

3 is positive

In [ ]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
def check_num(x):
  if x == 0:
     print ('%s is zero'%(x))
  elif x > 0:
     print ('%s is positive'%(x))
  else:
     print ('%s is negative'%(x)) 
  return

x = int(input("Enter your value: "))
check_num(x)

Enter your value: 12
12 is positive

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x = ['India','Israel','Canada']

In [ ]:
#Using For loop, iterate over the list and print the elements.

length = len(x)
  
for i in range(length):
    print(x[i])

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.
x= range (1,11)
y= 2

for i in x:
    print(y ,'*',i,'=',i*y)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here
x = [21, 'hello','cream', 20,19,'village']
length = len(x)
for i in range(length):
  if type(x[i]) == int:
    print (x[i])

21
20
19

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern
for i in range (0,5):
   for j in range(0, i+1):
     print ("*",end= " ")
   print("\r")

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [ ]:
def counter(n):
 # add your code here
    i = 1
    while(i<n):
      print(i)
      i += 1

In [ ]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [ ]:
# your code here
flag = True
i=5
while(flag==True):
  print(i)
  i += 5 
  if i>50:
    flag=False

5
10
15
20
25
30
35
40
45
50

# Intermediate programming questions

<p style='text-align: right;'> 160 points </p>

Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']

In [ ]:
#code here
from collections import OrderedDict
names=['A','B','C','A','D','E','F','G','H','E','D']
res = list(OrderedDict.fromkeys(names))
print (res)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Good! Shall we try solving above problem in shhorter way using list comprehention? It will be amazing. Here we go!

In [ ]:
names=['A','B','C','A','D','E','F','G','H','E','D']
res = []
[res.append(x) for x in names if x not in res]
  
# printing list after removal 
print ("The list after removing duplicates : " + str(res))

The list after removing duplicates : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.

In [ ]:
#your code
def occurence(numbers,num):
  i=0
  for x in numbers:
    if x== num:
      i=i+1
  print (i)
 
#lets use your function
occurence([2,3,4,8,1,3,5,2,1,3,1,2,2], 2)

4

Calculate factorial of a number ( Here number=3) using while loop

In [ ]:
number = 3
#your code here
x=number
while (number != 1):
  x= x * (number-1)
  number=number-1
print (x)

6

Reverse a given integer number num = 47594038222 and display the count of total number of digits in your revered number using while loop.

In [ ]:
# Your code here
num = 47594038222 
rev = 0
i=0
 
while(num > 0):
    a = num % 10
    rev = rev * 10 + a
    num = num // 10
    i=i+1
 
print('Total number of digits in ',rev, 'are ', i)

Total number of digits in  22283049574 are  11

Can you reverse you given num without using loop in just one line?

Hint: apply some slicing trick to do it.

In [ ]:
num = 47594038222

#one line code here
print('Reverse of the given number is : ', str(num)[::-1])

Reverse of the given number is :  22283049574

Write a function that checks whether a given sequence of number is IP address or not and print all valid possible IP from a given digit. If not an IP then it prints empty list

In [ ]:
#code goes here

def ipvalid(ip): 
   # Spliting by "." 
   ip = ip.split(".") 
      
   # Checking for the corner cases 
   for x in ip: 
    if len(x) > 3 or int(x)< 0 or int(x) > 255: 
        return False
    if len(x) > 1 and int(x) == 0: 
      return False
    if len(x) > 1 and int(x) != 0 and x[0] == '0': 
      return False
    
   return True
  
# Function converts string to IP address 
def convert(A): 
   con = len(A) 

   # Check for string size 
   if con > 12: 
      return [] 
   newip = A 
   l = [] 

   # Generating different combinations. 
   for i in range(1, con - 2): 
      for j in range(i + 1, con - 1): 
         for k in range(j + 1, con): 
            newip = newip[:k] + "." + newip[k:] 
            newip = newip[:j] + "." + newip[j:] 
            newip = newip[:i] + "." + newip[i:] 

            # Check for the validity of combination 
            if ipvalid(newip): 
               l.append(newip) 
               newip = A 
   return l  
   

# Check your code with below numbers    
A = "25525511135"
B = "25505011536"
 
print(convert(A))
print(convert(B))

ValueError: ignored

Solve the quadratic equation ax**2 + bx + c = 0 where a =4, b=6, c=2

In [ ]:
# code here
# Solve the quadratic equation ax**2 + bx + c = 0

# import complex math module
import math

a = 4
b = 6
c = 2

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-math.sqrt(d))/(2*a)
sol2 = (-b+math.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are -1.0 and -0.5

Write a program to Remove Punctuations From a String 

    s="Wow!!!, we are going ahead with our course to learn *machine learning* ---are'nt you excited? :)"

In [ ]:
#code here

# initializing string
s = "Wow!!!, we are going ahead with our course to learn *machine learning* ---are'nt you excited? :)"
  
# initializing punctuations string 
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  
# Removing punctuations in string
# Using loop + punctuation string
for ele in s: 
    if ele in punc: 
        s = s.replace(ele, "") 
  
# printing result 
print(s)

Wow we are going ahead with our course to learn machine learning arent you excited

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,i^Y-1.

In [ ]:
digit1=3
digit2=4


#code here
rows, cols = (3, 4)
arr=[]
for i in range(rows):
    col = []
    for j in range(cols):
        col.append((i)*(j))
    arr.append(col)
print(arr)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

Write a function 'solve_coin_change' which takes list of denomibations and amount and checks number of you can make change with coins and a total amount

In [ ]:
#code here

def solve_coin_change(Coins,N):
 
    # Create the ways array to 1 plus the amount
    # to stop overflow
    ways = [0] * (N + 1);
    
    # Set the first way to 1 because its 0 and
    # there is 1 way to make 0 with 0 coins
    ways[0] = 1;
 
    # Go through all of the coins
    for i in range(len(Coins)):
 
        # Make a comparison to each index value
        # of ways with the coin value.
        for j in range(len(ways)):
            if (Coins[i] <= j):
 
                # Update the ways array
                ways[j] += ways[(int)(j - Coins[i])];
 
    # return the value at the Nth position
    # of the ways array.
    return ways[N];

# Checking your code
print(solve_coin_change([1, 5, 10],20))
print(solve_coin_change([1, 2, 5],7))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
9
[0, 0, 0, 0, 0, 0, 0, 0]
6

For given string S and integers P and Q, which denotes the cost of removal of substrings “he” and “lo” respectively from S, the task is to find the maximum cost of removing all occurrences of substrings “he” and “lo”.

example if S = “hellohellohellohellohello”, P = 6, Q = 4, then cost to remove 'he' and 'lo' is 50

In [ ]:
#code here

def MaxCollection(S, P, Q):
   
    # MaxStr is the substring char
    # array with larger cost
    maxstr = [i for i in ("he" if P >= Q else "he")]
     
    # MinStr is the substring char
    # array with smaller cost;
    minstr = [i for i in ("lo" if P >= Q else "lo")]
 
    # Denotes larger point
    maxp = max(P, Q)
 
    # Denotes smaller point
    minp = min(P, Q)
 
    # Stores cost scored
    cost = 0
 
    # Removing all occurrences of
    # maxstr from the S
 
    # Stack to keep track of characters
    stack1 = []
    s = [i for i in S]
    # Traverse the string
    for ch in s:
 
        # If the substring is maxstr
 
        if (len(stack1)>0 and (stack1[-1] == maxstr[0] and ch == maxstr[1])):
 
            # Pop from the stack
            del stack1[-1]
 
            # Add maxp to cost
            cost += maxp
 
        # Push the character to the stack
        else:
            stack1.append(ch)
 
    # Remaining string after removing maxstr
    sb = ""
 
    # Find remaining string
    while (len(stack1) > 0):
        sb += stack1[-1]
        del stack1[-1]
 
    # Reversing the string
    # retrieved from the stack
    sb = sb[::-1]
    remstr = sb
 
    # Removing all occurences of minstr
    for ch in remstr:
 
        # If the substring is minstr
        if (len(stack1) > 0 and (stack1[-1] == minstr[0] and ch == minstr[1])):
 
            #  Pop from the stack
            del stack1[-1]
 
            # Add minp to the cost
            cost += minp
 
        # Otherwise
        else:
            stack1.append(ch)
 
    # Return the maximum cost
    return cost
 
# Check code with 

S = "hellohellohellohellohello"

# Costs
P = 6;
Q = 4;

print(MaxCollection(S, P, Q));

50

Write a function finalString such that smallest string is obtained by removing all occurrences of 01 and 11 from Binary String whic is taken as input parameter

Example
    
    Input: S = “0010110”
    Output: String = 0

In [ ]:
from collections import deque
 

def finalString(s):
    n= len(s)
    
    st = deque()
     
    
    for i in range(n):
       
        
        if (len(st) == 0):
            st.append(s[i])
         
       
        elif (s[i] == '1'):
            st.pop()
         
        
        else:
            st.append(s[i])
     
    # Stores resultant string
    ans = 0
    finalStr = []
    while (len(st) > 0):
        ans += 1
        finalStr.append(st[-1]);
        st.pop()
         
    # Print the final string size
    print("The final string size is: ", ans)
     
    # If length is not 0
    if (ans == 0):
        print("The final string is: EMPTY")
     
    # Print the string
    else:
        print("The final string is: ", *finalStr)
    


# Check your function Code

s="010110100100000"
finalString(s)

The final string size is:  7
The final string is:  0 0 0 0 0 0 1

Write a function such that it accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n

Example

    Input
    n:4
    m:20
    Output
    90

In [ ]:
#code here
A = 1
B = 20
N = 4

sum = 0
dsum = 0 

for i in range(A, B + 1):
 

  if (i % N == 0):
    sum += i
  else: 
    dsum += i
 
    # Return the sum
print(dsum-sum)

90

Write a function count_code that return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.


    count_code('aaacodebbb') → 1
    count_code('codexxcode') → 2
    count_code('cozexxcope') → 2

In [ ]:
#your code here 
def count_code (test_str):
  test_sub ='co'
  res = test_str.count(test_sub)
  return res 
  
#check your code 
print(count_code('aaacodebbb'))
print(count_code('codexxcode'))
print(count_code('cozexxcope'))

1
2
2

Lets have one moderate level question for you. 

Find the sum of the series 4 +44 + 444 + 4444 + .. n terms

here keep n=5

In [ ]:
#your code here
n=5
i=4
sum=4
add=4
for j in range(n-1):
  add = int(str(add) + str(i))
  sum=sum + add
  
print(sum)

49380

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform